.stroke {
    stroke: var(--icon-stroke-color);
}

.fill {
    svg {
        fill: var(--icon-fill-color);
    }
}

.disabled {
    opacity: 0.5;
}

.appIcon {
    padding: 6px;
    border-radius: 12px;
    &:hover {
        background-color: rgba(240, 235, 235, 0.3);
    }
}
